In [1]:
import pandas as pd
import numpy as np
print(np.__version__)
print(pd.__version__)

1.26.4
2.3.3

In [2]:
import sys, numpy
print(sys.executable)
print(numpy.__version__)

C:\Users\taist\anaconda3\envs\waitlist\python.exe
1.26.4

In [3]:
df = pd.read_csv("SAPS_2022_Small_Area_UR_171024.csv")

In [4]:
df.head()

,GUID,GEOGID,GEOGDESC,UR_Category,UR_Category_Desc,T1_1AGE0M,T1_1AGE1M,T1_1AGE2M,T1_1AGE3M,T1_1AGE4M,...,T15_1_2C,T15_1_3C,T15_1_GE4C,T15_1_NSC,T15_1_TC,T15_2_BB,T15_2_OIC,T15_2_NO,T15_2_NS,T15_2_T
0,4c07d11e-11d3-851d-e053-ca3ca8c0ca7f,017001001,017001001,4.0,4. Rural areas with high urban influence,0,6,1,1,0,...,71,20,6,7,135,80,37,9,9,135
1,4c07d11e-123a-851d-e053-ca3ca8c0ca7f,017002001,017002001,4.0,4. Rural areas with high urban influence,1,2,1,2,4,...,60,14,6,2,118,90,11,15,2,118
2,4c07d11e-14b1-851d-e053-ca3ca8c0ca7f,017002002,017002002,3.0,3. Independent urban towns,1,5,1,2,0,...,45,7,3,3,119,101,3,10,5,119
3,bf640964-28f3-4ccf-a610-04685d80ea2e,017002003/01,017002003/01,4.0,4. Rural areas with high urban influence,4,5,1,1,4,...,75,15,8,7,157,134,3,11,9,157
4,4c07d11d-f709-851d-e053-ca3ca8c0ca7f,017003001,017003001,5.0,5. Rural areas with moderate urban influence,0,1,1,1,1,...,31,19,6,9,90,50,16,14,10,90

In [5]:
df.shape

(18920, 795)

In [6]:
df.columns

Index(['GUID', 'GEOGID', 'GEOGDESC', 'UR_Category', 'UR_Category_Desc',
       'T1_1AGE0M', 'T1_1AGE1M', 'T1_1AGE2M', 'T1_1AGE3M', 'T1_1AGE4M',
       ...
       'T15_1_2C', 'T15_1_3C', 'T15_1_GE4C', 'T15_1_NSC', 'T15_1_TC',
       'T15_2_BB', 'T15_2_OIC', 'T15_2_NO', 'T15_2_NS', 'T15_2_T'],
      dtype='object', length=795)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18920 entries, 0 to 18919
Columns: 795 entries, GUID to T15_2_T
dtypes: float64(1), int64(790), object(4)
memory usage: 114.8+ MB

In [15]:
columns_of_interest = [
    'UR_Category_Desc', # rural/urban description
    'T1_1AGETM', # Total male population
    'T1_1AGETF', # Total female population
    'T1_1AGETT', # Total population
    'T1_1AGE0T', # Total population age 0-14
    'T1_1AGE1T',
    'T1_1AGE2T',
    'T1_1AGE3T',
    'T1_1AGE4T', 
    'T1_1AGE5T',
    'T1_1AGE6T', 
    'T1_1AGE7T',
    'T1_1AGE8T', 
    'T1_1AGE9T', 
    'T1_1AGE10T', 
    'T1_1AGE11T', 
    'T1_1AGE12T', 
    'T1_1AGE13T',
    'T1_1AGE14T',
    'T1_1AGE65_69T', # Total population age 65+
    'T1_1AGE70_74T',
    'T1_1AGE75_79T',
    'T1_1AGE80_84T',
    'T1_1AGEGE_85T',
    'T6_1_TH' # Total no. of households
]